@import '../../../styling/sass.scss';

.root {
  padding: 12px 35px;
  position: relative;
  height: 50px;
  width: fit-content;
  min-width: 200px;
  border: none;
  border-radius: 25px;
  background-color: $purple;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
  cursor: pointer;
  @include text('boldFont', 16px, $white);

  img {
    filter: $white_filter;
  }

  .badge {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: $red;
    top: -12.5px;
    right: -8px;
    @include text('boldFont', 16px, $white);
  }

  &:hover,
  &:focus {
    filter: brightness(120%);
  }

  &.squared {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 0;
  }

  &.rounded {
    width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 50px;
    padding: 0;

    img {
      margin-right: 0;
    }
  }

  &.secondary {
    background-color: $background;
  }

  &.ghost {
    background-color: transparent;
    border: 2px $backgroundLifted solid;
  }

  &.success {
    background-color: $green;
  }

  &.error {
    background-color: $red;
  }

  &.warning {
    background-color: $orange;
  }

  &.google {
    background-color: $googleBlue;
  }

  &.facebook {
    background-color: $facebookBlue;
  }

  &.icon::before {
    @extend %buttonIcon;
  }

  &.lifted {
    &.secondary {
      background-color: $backgroundLifted;
    }

    &.ghost {
      background-color: transparent;
      border: 2px $backgroundLifted2 solid;
    }
  }
}
