@import '../../../styling/sass.scss';

.root {
  padding: 12px 35px;
  height: 50px;
  width: fit-content;
  border: none;
  border-radius: 25px;
  background-color: $purple;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  @include text('boldFont', 16px, $white);

  &:hover,
  &:focus {
    filter: brightness(120%);
  }

  &.squared {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 0;
  }

  &.secondary {
    background-color: $background;
  }

  &.error {
    background-color: $red;
  }

  &.warning {
    background-color: $orange;
  }

  &.google {
    background-color: $googleBlue;
  }

  &.facebook {
    background-color: $facebookBlue;
  }
}
