@import '../../styling/sass.scss';

.root {
  width: 100%;
  margin: 0 auto;

  .actions {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'titleBar titleBar'
      '____tabs __search'
      '___break ___break'
      '__labels __labels'
      'dropdown dropdown';

    > * {
      margin-bottom: 25px;
    }

    .title {
      grid-area: titleBar;
      display: flex;
      align-items: center;
      min-height: 50px;

      > h5 {
        margin: auto;
      }
    }

    .tabs {
      grid-area: ____tabs;
      display: flex;

      > h6 {
        color: $backgroundLifted3;
        cursor: pointer;
        width: fit-content;
        margin-right: 50px;

        &:hover {
          color: $grey;
        }

        &.active {
          color: $white;

          &:hover {
            color: $white;
          }
        }
      }
    }

    .search {
      grid-area: __search;
      display: flex;
      column-gap: 25px;
    }

    hr {
      margin-block-start: 0;

      grid-area: ___break;
      width: 100%;
      border: 0;
      border-top: 2px $background solid;
    }

    .dropdown {
      grid-area: dropdown;

      display: flex;
      column-gap: 15px;
      align-items: center;
    }
  }

  .modalBody {
    position: relative;
    width: 525px;

    > :first-child {
      display: grid;
      gap: 25px;
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - 25px), 1fr));
    }

    > * {
      margin-bottom: 25px;
    }
  }
}

@include deviceWidth('minTablet') {
  .root {
    padding: 50px 0;

    .actions {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'titleBar __search'
        '____tabs dropdown'
        '___break ___break'
        '__labels __labels';

      > *:not(.tabs, .dropdown) {
        margin-bottom: 50px;
      }

      .dropdown {
        margin-left: auto;
      }
    }
  }
}
