@import '../../../../../../global.scss';

.root {
  display: flex;
  flex-direction: column;
  height: 75px;
  padding: 0 20px;
  cursor: pointer;
  justify-content: center;

  &:hover {
    background-color: $darkest;
    filter: brightness(130%) !important;
  }

  > p {
    margin-bottom: 5px;
    @include text('boldFont', 16px, $white);
  }

  .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;

    .light {
      background-color: $backgroundLifted2;
      width: 10px;
      height: 10px;
      border-radius: 25px;
      margin-right: 10px;
    }
    
    > p {
      color: $backgroundLifted2;
    }
  }

  .status.online {
    .light {
      background-color: $green;
    }

    > p {
      color: $white;
    }
  }
}
