{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxBracketSameLine": true,
  "useTabs": false,
  "jsxSingleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "as-needed",
  "printWidth": 120,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "css"
}
