@import '../../../styling/sass.scss';

.root {
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .input + .label {
    background: $background;
  }

  .input:checked + .label {
    background: $purple;

    .button {
      left: 100%;
      transform: translateX(-100%);
    }
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 25px;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;

    .button {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 25px;
      height: 25px;
      border-radius: 45px;
      transition: 0.1s;
      background: #fff;
      box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
    }
  }
}
