@import '../../styling/sass.scss';

.root {
  width: 1320px;
  height: 100%;
  padding: 25px 0;
  margin: 0 auto;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .filters {
    margin: 25px 0;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;

    > * {
      margin-left: 15px;
    }

    > :first-child {
      margin-left: 0;
    }
  }

  .labelsContainer {
    margin-bottom: 25px;

    > p {
      margin-bottom: 15px;
      @include text('boldFont', 16px, $white);
    }
  }
}
