@import '../../../styling/sass.scss';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;

    span {
      @include text('boldFont', 24px, $white);
      margin-bottom: 25px;
    }

    button {
      align-self: center;
    }
  }

  p {
    font-weight: $font-weight-normal;
    @include text('regularFont', 16px, $white);

    a {
      font-weight: $font-weight-normal;
      @include text('boldFont', 16px, $purple);

      &:hover {
        filter: brightness(120%);
      }
    }
  }

  .alternativeLogin {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;

    > * {
      margin-bottom: 25px;
    }

    img {
      filter: $white_filter;
    }
  }
}

@include deviceWidth('minTablet') {
  .root {
    .form {
      align-items: center;

      span {
        margin-bottom: 50px;
        @include text('boldFont', 42px, $white);
      }
    }
  }
}
