@import '../../../styling/sass.scss';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;

  .imageContainer {
    width: 100%;
    padding-top: 100%;
    border-radius: 10px;
    background-color: $background;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    position: relative;

    > .picMissing {
      filter: $backgroundLifted3_filter;
      width: 55px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }

    &.noPicture {
      justify-content: center;
      align-items: center;

      > img {
        min-width: unset;
        min-height: unset;
        width: 60px;
        height: auto;
      }
    }
  }

  .details {
    width: 100%;
    margin-top: 15px;

    > :nth-child(2) {
      margin-top: 15px;
    }

    > :first-child {
      > a:hover {
        > p {
          color: $purple;
        }
      }

      > a {
        p {
          @include text('boldFont', 16px, $white);
          cursor: pointer;
        }
      }
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .favourite {
        cursor: pointer;
        filter: $backgroundLifted3_filter;

        &.isActive {
          filter: $red_filter;
        }
      }

      &.active {
        filter: brightness(0) saturate(100%) invert(41%) sepia(89%) saturate(6380%) hue-rotate(345deg) brightness(101%)
          contrast(100%);
      }
    }

    .availability {
      width: fit-content;
      align-items: center;

      > div {
        margin-left: 10px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 20px;
          max-height: 20px;

          &:hover {
            cursor: help;
          }
        }

        .tooltiptext {
          align-self: flex-end;
          visibility: hidden;
          width: 150px;
          padding: 10px 10px;
          background-color: $backgroundLifted;
          box-shadow: $default-box-shadow;
          text-align: center;
          border-radius: 5px;
          position: absolute;
          z-index: 1;
          margin-bottom: 30px;
          @include text('regularFont', 14px, $white);
          font-weight: $font-weight-normal;

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $backgroundLifted transparent transparent transparent;
          }
        }

        > .icon {
          filter: $backgroundLifted3_filter;

          &.isActive {
            filter: $white_filter;
          }
        }
      }
    }
  }
}

@include deviceWidth('minDesktop') {
  .root {
    .details {
      div {
        .availability {
          > div {
            &:hover {
              .tooltiptext {
                -moz-animation: cssAnimation 0s ease-in 1s forwards;
                /* Firefox */
                -webkit-animation: cssAnimation 0s ease-in 1s forwards;
                /* Safari and Chrome */
                -o-animation: cssAnimation 0s ease-in 1s forwards;
                /* Opera */
                animation: cssAnimation 0s ease-in 1s forwards;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    visibility: visible;
  }
} ;
