@import '../../../../../styling/sass.scss';

.root {
  background-color: $background;
  position: absolute;
  width: 200px;
  border-radius: 5px;
  display: block;
  margin-left: 325px;
  z-index: 10;
  box-shadow: $default-box-shadow;

  &.isCollapsed {
    margin-left: 130px;
  }

  &:before {
    content: '';
    position: absolute;
    top: calc(65px / 2);
    left: -15px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent $background transparent transparent;
  }

  > :first-child {
    border-radius: 5px 5px 0 0;
  }

  > :last-child {
    border-radius: 0 0 5px 5px;
  }

  .option {
    padding: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $background;
      filter: brightness(150%);
    }

    p {
      margin-left: 10px;
      @include text('boldFont', 16px, $white);
    }

    > img {
      filter: $white_filter;
    }
  }

  .option.visible {
    > :last-child {
      margin-left: auto;
    }
  }
}
