$lightPurple: '#B8B8FF';
$purple: '#9381FF';
$green: '#3FE44C';
$orange: '#FFBF69';
$red: '#E43F5A';
$darkest: '#101010';
$background: '#202020';
$backgroundLifted: '#2A2A2A';
$backgroundLifted2: '#373737';
$backgroundLifted3: '#444444';
$grey: '#8E8E8E';
$greyLifted: '#D1D1D1';
$greyLifted2: '#E5E5E5';
$white: '#F2F2F2';