@font-face {
	font-family: "boldFont";
	src: url("./fonts/bold.otf")
}

@font-face {
	font-family: "regularFont";
	src: url("./fonts/regular.otf")
}

@font-face {
	font-family: "lightFont";
	src: url("./fonts/light.otf")
}

@font-face {
	font-family: "thinFont";
	src: url("./fonts/thin.otf")
}