@import "./variables.scss";

// Mixins -------------------------------------------------------------------------------------------------------------
@mixin text($fontFamily, $fontSize, $colour) {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $colour;
};

// Extends ------------------------------------------------------------------------------------------------------------