@import './variables.scss';

// Mixins -------------------------------------------------------------------------------------------------------------
@mixin text($fontFamily, $fontSize, $colour) {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $colour;
}

// Extends ------------------------------------------------------------------------------------------------------------
%buttonIcon {
  display: flex;
  margin-right: 10px;
  align-items: center;
  height: inherit;
}
