@import './variables.scss';

// Mixins -------------------------------------------------------------------------------------------------------------
@mixin text($fontFamily, $fontSize, $colour) {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $colour;
}

// Extends ------------------------------------------------------------------------------------------------------------
%buttonIcon {
  display: inline-block;
  width: inherit;
  height: inherit;
  margin: auto 10px auto 0;
}
