// Colours ----------------------------------------------------------------------------------------------------------
$darkPurple: #4f1271;
$purple: #a21bfb;
$green: #06d6a0;
$orange: #fe920c;
$red: #ff2e2f;
$blue: #1da1f2;
$darkest: #101010;
$background: #1c1c1e;
$backgroundLifted: #2c2c2e;
$backgroundLifted2: #3a3a3c;
$backgroundLifted3: #48484a;
$grey: #636366;
$greyLifted: #8e8e93;
$greyLifted2: #e5e5e5;
$white: #f2f2f2;
$googleBlue: #4285f4;
$facebookBlue: #3b5998;

// Fonts -------------------------------------------------------------------------------------------------------------
@font-face {
  font-family: 'boldFont';
  src: url('/assets/fonts/bold.otf');
}

@font-face {
  font-family: 'regularFont';
  src: url('/assets/fonts/regular.otf');
}

@font-face {
  font-family: 'lightFont';
  src: url('/assets/fonts/light.otf');
}

@font-face {
  font-family: 'thinFont';
  src: url('/assets/fonts/thin.otf');
}

// Typography -----------------------------------------------------------------------------------------------------
$h1Size: 54px;
$h2Size: 48px;
$h3Size: 42px;
$h4Size: 34px;
$h5Size: 24px;
$h6Size: 20px;
$pSize: 16px;

// Animation -------------------------------------------------------------------------------------------------------
$slow-transition: 0.5s ease-in-out;
$default-transition: 0.25s ease-in-out;
$fast-transition: 0.1s ease-in-out;
