// Colours ----------------------------------------------------------------------------------------------------------
$darkPurple: #4f1271;
$purple: #9840ff;
$green: #06d6a0;
$orange: #fe920c;
$red: #ff2e2f;
$blue: #1da1f2;
$darkest: #101010;
$background: #1c1c1e;
$backgroundLifted: #2c2c2e;
$backgroundLifted2: #3a3a3c;
$backgroundLifted3: #48484a;
$grey: #636366;
$greyLifted: #8e8e93;
$greyLifted2: #e5e5e5;
$white: #f2f2f2;
$googleBlue: #4285f4;
$facebookBlue: #3b5998;

// RGB --------------------------------------------------------------------------------------------------------------------
$purple_RGB: rgb(152, 64, 255);
$green_RGB: rgb(6, 214, 160);
$orange_RGB: rgb(254, 146, 12);
$red_RGB: rgb(255, 46, 47);

// Filter Colours ----------------------------------------------------------------------------------------------------------
$_0: brightness(0) saturate(100%);
$darkPurple_filter: $_0 invert(8%) sepia(55%) saturate(6819%) hue-rotate(277deg) brightness(95%) contrast(95%);
$purple_filter: $_0 invert(19%) sepia(98%) saturate(7053%) hue-rotate(276deg) brightness(107%) contrast(97%);
$green_filter: $_0 invert(70%) sepia(51%) saturate(4289%) hue-rotate(120deg) brightness(100%) contrast(95%);
$orange_filter: $_0 invert(57%) sepia(98%) saturate(1099%) hue-rotate(351deg) brightness(98%) contrast(104%);
$red_filter: $_0 invert(24%) sepia(82%) saturate(3475%) hue-rotate(346deg) brightness(118%) contrast(104%);
$blue_filter: $_0 invert(53%) sepia(15%) saturate(5182%) hue-rotate(176deg) brightness(97%) contrast(95%);
$darkest_filter: $_0 invert(0%) sepia(7%) saturate(1156%) hue-rotate(347deg) brightness(95%) contrast(87%);
$background_filter: $_0 invert(9%) sepia(8%) saturate(371%) hue-rotate(201deg) brightness(93%) contrast(93%);
$backgroundLifted_filter: $_0 invert(12%) sepia(7%) saturate(309%) hue-rotate(202deg) brightness(93%) contrast(85%);
$backgroundLifted2_filter: $_0 invert(20%) sepia(21%) saturate(79%) hue-rotate(202deg) brightness(93%) contrast(90%);
$backgroundLifted3_filter: $_0 invert(28%) sepia(7%) saturate(132%) hue-rotate(202deg) brightness(91%) contrast(89%);
$grey_filter: $_0 invert(40%) sepia(6%) saturate(161%) hue-rotate(202deg) brightness(94%) contrast(92%);
$greyLifted_filter: $_0 invert(66%) sepia(3%) saturate(359%) hue-rotate(202deg) brightness(86%) contrast(87%);
$greyLifted2_filter: $_0 invert(100%) sepia(0%) saturate(5863%) hue-rotate(278deg) brightness(124%) contrast(80%);
$white_filter: $_0 invert(100%) sepia(2%) saturate(131%) hue-rotate(242deg) brightness(111%) contrast(90%);

// Fonts -------------------------------------------------------------------------------------------------------------
@font-face {
  font-family: 'boldFont';
  src: url('/assets/fonts/bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'regularFont';
  src: url('/assets/fonts/regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'lightFont';
  src: url('/assets/fonts/light.otf');
  font-display: swap;
}

@font-face {
  font-family: 'thinFont';
  src: url('/assets/fonts/thin.otf');
  font-display: swap;
}

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Typography -----------------------------------------------------------------------------------------------------
$h1Size: 54px;
$h2Size: 48px;
$h3Size: 42px;
$h4Size: 34px;
$h5Size: 24px;
$h6Size: 20px;
$pSize: 16px;

// Styling -----------------------------------------------------------------------------------------------------
$default-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);

// Animation -------------------------------------------------------------------------------------------------------
$slow-transition-time: 0.5;
$default-transition-time: 0.25s;
$fast-transition-time: 0.1s;

$slow-transition: $slow-transition-time ease-in-out;
$default-transition: $default-transition-time ease-in-out;
$fast-transition: $fast-transition-time ease-in-out;
