@import '../../../styling/sass.scss';

.root {
  background-color: $background;
  height: 100vh;
  width: 300px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  justify-content: space-between;
  padding: 50px 0;

  > :last-child {
    margin-left: 50px;
  }

  .links {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profileMenu {
      display: flex;
      flex-direction: row;

      .pageLink {
        .iconContainer {
          border-radius: 25px;
          background-color: $background;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .pageLink {
      padding: 0 0 0 50px;
      display: flex;
      height: 75px;
      width: 300px;
      justify-content: start;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;

      .iconContainer {
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
        margin-right: 25px;
      }

      &:hover {
        background-color: $backgroundLifted;
      }

      p {
        @include text('boldFont', 16px, $white);
      }

      p.active {
        @include text('boldFont', 16px, $purple);
      }
    }
  }
}
