@import '../../../styling/sass.scss';

.root {
  background-color: $background;
  border-bottom: 2px $backgroundLifted solid;
  height: 75px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 10;

  .links {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .pageLink {
      display: flex;
      height: 75px;
      padding: 0 25px;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $backgroundLifted;
      }

      p {
        margin-left: 10px;
        @include text('boldFont', 16px, $white);
      }
    }
  }

  .actions {
    margin-left: auto;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;

    a {
      .headerAction {
        height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0 25px;

        > p {
          margin-right: 20px;
          @include text('boldFont', 16px, $white);
        }

        .imageContainer {
          width: 35px;
          height: 35px;
          border-radius: 25px;
          overflow: hidden;
          background-color: $background;

          > img {
            min-width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &:hover {
          background-color: $backgroundLifted;
        }
      }
    }

    > div {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .headerAction {
        height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0 25px;

        > p {
          margin-right: 20px;
          @include text('boldFont', 16px, $white);
        }

        .imageContainer {
          width: 35px;
          height: 35px;
          border-radius: 25px;
          overflow: hidden;
          background-color: $backgroundLifted2;

          > img {
            min-width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &:hover {
          background-color: $backgroundLifted;
        }
      }
    }
  }
}
