@import '../../../styling/sass.scss';

.root {
  width: fit-content;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px $backgroundLifted2 solid;
  background-color: transparent;
  cursor: pointer;

  > p {
    color: $grey;
    user-select: none;
  }
}

.root.active {
  border: 2px $purple solid;
  background-color: rgba(147, 129, 255, 0.2);

  > p {
    color: $white;
    user-select: none;
  }
}
