@import '../../../styling/sass.scss';

.root {
  width: fit-content;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  background-color: $background;
  cursor: pointer;

  &:focus {
    background-color: $backgroundLifted;
  }

  > p {
    user-select: none;
    white-space: nowrap;
    @include text('boldFont', 16px, $white);
  }
}

.root.active {
  background-color: $purple;
}
