@import '../../../styling/sass.scss';

.root {
  width: 100%;
  position: relative;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 15px), 1fr));
}

@media only screen and (min-width: 500px) {
  .root {
    gap: 50px 25px;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
