@import '../../../styling/sass.scss';

.root {
  width: 100%;
  display: grid;
  grid-template-columns:
    calc(calc(100% / 5) - calc(25px - calc(25px / 5)))
    calc(calc(100% / 5) - calc(25px - calc(25px / 5)))
    calc(calc(100% / 5) - calc(25px - calc(25px / 5)))
    calc(calc(100% / 5) - calc(25px - calc(25px / 5)))
    calc(calc(100% / 5) - calc(25px - calc(25px / 5)));
  column-gap: 25px;
  row-gap: 50px;
}
