@import './styling/sass.scss';

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  background-color: $darkest;
}

body {
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
  min-height: 100%;
  max-width: unset;
  padding: 15px;
  margin: 0 auto;
  position: relative;
}

.login {
  margin: 0 auto;
}

::-moz-selection {
  color: $white;
  background: $purple;
}

::selection {
  color: $white;
  background: $purple;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $backgroundLifted;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $backgroundLifted2;
}

a {
  color: $purple;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  @include text('boldFont', $h1Size, $white);
  font-weight: $font-weight-normal;
}
h2 {
  @include text('boldFont', $h2Size, $white);
  font-weight: $font-weight-normal;
}
h3 {
  @include text('boldFont', $h3Size, $white);
  font-weight: $font-weight-normal;
}
h4 {
  @include text('boldFont', $h4Size, $white);
  font-weight: $font-weight-normal;
}
h5 {
  @include text('boldFont', $h5Size, $white);
  font-weight: $font-weight-normal;
}
h6 {
  @include text('boldFont', $h6Size, $white);
  font-weight: $font-weight-normal;
}
p {
  @include text('regularFont', $pSize, $white);
  font-weight: $font-weight-normal;
}

@include deviceWidth('minTablet') {
  main {
    padding: 0 25px;
    margin: 0 auto 0 105px;
  }
}

@include deviceWidth('minDesktop') {
  main {
    max-width: 1320px;
    margin: 0 auto;
  }
}
