@import '../../../styling/sass.scss';

.root {
  user-select: none;
  
  &.purple {
    filter: $purple_filter;
  }
  
  &.green {
    filter: $green_filter;
  }
  
  &.orange {
    filter: $orange_filter;
  }
  
  &.red {
    filter: $red_filter;
  }
}


